# Jupyter Notebook checkpoint files and folders
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Jupyter Lab workspace settings
.jupyter/
*.ipynb_checkpoints

# Jupyter temporary files
.ipynb_checkpoints
**/.ipynb_checkpoints/